:root {
    --white-grey: #e1e1e1;
    --dark-blue: #0c17a1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pull-right {
    float: right !important;
}

.no-border input{
    border: 0 !important;
}

a {
    cursor: pointer !important;
}

.modal-btn {
    margin: 0 0.5rem;
}

#user-info {
    padding: 1rem;
    font-size: 10pt;
    display: flex;
}

#user-info * {
    margin: auto;
    padding-left: 1rem;
}

#user-info svg {
    font-size: 40pt !important;
    font-weight: 300 !important;
}

.btn-logout {
    font-size: 9pt !important;
    color: var(--dark-blue);
    border-bottom: 1px solif var(--dark-blue) !important;
}

.btn-confirm {
    background: var(--dark-blue) !important;
    color: white !important;
}

.btn-confirm:hover {
    color: white;
    opacity: 90% !important;
}

.btn-cancel {
    background: var(--white-grey) !important;
}


.main-window {
    background: var(--white-grey) !important;
    position: relative;
    height: 100vh;

}

.top-menu {
    padding-left: 300px;
    height: 5rem;
    position: fixed;
    width: 100%;
    top: 0;
    color: var(--dark-blue);

}

.side-menu {
    background: var(--white-grey) !important;
    position: fixed;
    height: 100vh;
    width: 300px;
    top: 0;
}

.side-menu ul {
    list-style: none;
    padding: 0 !important;
}

.side-menu ul li {
    padding: 1.5rem 1rem;
    font-size: 25pt;
    color: var(--dark-blue) !important;
    cursor: pointer;
    display: flex;
}

.side-menu ul li.active {
    border-left: 5px solid var(--dark-blue) !important;
}

.side-menu ul li svg {
    margin: auto 0;
}

.side-menu ul li span {
    font-size: 13pt !important;
    margin: auto 13px;
}

.side-menu ul li a {
    text-decoration: none !important;
    color: var(--dark-blue) !important;
    font-size: 13pt !important;
}

.main-container {
    margin-left: 300px;
    padding: 1rem;
    margin-top: 5rem;
    ;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
}

th {
    color: var(--dark-blue) !important;
    font-weight: 300 !important;
}

#search-option {
    margin: 5rem auto 2rem auto;
    width: 75%;
}

.input {
    border-color: var(--dark-blue);
}

.btn-custom {
    background-color: var(--dark-blue);
    color: var(--white-grey);
    border-radius: 10px;
    border: none;
    font-size: 10pt !important;
}

.btn-custom:hover {
    opacity: 90%;
}

.title {
    font-size: 2rem;
    padding: 15px;
    color: var(--dark-blue);
    border-bottom: 1px solid var(--dark-blue);
}

.label-container {
    padding: 12px;
    margin-top: 10px;
    border-left: 3px solid var(--dark-blue);
}

.label-title {
    line-height: 2rem;
    font-size: 1rem;
    font-weight: bolder;
    color: var(--dark-blue);
    margin-left: 17px;
}

.select-custom {
    border: 1px solid var(--dark-blue);
    color: #212529;
}

.span-custom {
    color: var(--dark-blue);
    font-weight: 700;
}

.form-check-label {
    color: var(--dark-blue);
}

.small-custom {
    color: var(--dark-blue);
}


.login-form {
    display: flex;
    flex-direction: column;
}

.login-form form {
    margin: auto;
    max-width: 1200px;

}

.btn-dark-blue{
    background-color: var(--dark-blue) !important;
    color: var(--white-grey) !important;

  
}

.input-group input{
    border-radius: 10px 0 0 10px !important;
}

.input-group button{
    border-radius: 0 10px 10px 0 !important;
    z-index: 0 !important;
}

.btn-dark-blue:hover{
    background-color: var(--dark-blue) !important;
    color: var(--white-grey) !important;
    opacity: 70%;
}


.input-form {
    font-size: 12pt !important;
    color: var(--dark-blue);
}

.input-form.inline {
    display: flex;
    align-self: center;
}

.input-form label {
    font-size: 10pt !important;
    margin-top: 1rem;
    display: inline-flex;
    align-self: center;
}

.input-form .label-radio{
    padding-left: 1rem;
    align-self: center;
    display: inline-flex;
    cursor: pointer;
}


.input-form .label-radio input{
    width: 2rem;
    cursor: pointer;
}


.search-container {
    padding: 1rem 0 3rem 0;
}

.search-container input {
    background: var(--white-grey);
    border: 1px solid #777777 !important;
}

.table-container {
    margin-top: 3rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.form-check-input:checked {
    background-color: var(--dark-blue);
}

.search-custom {
    width: 20%;
    padding: 10px;
    margin: 10px 0 15px 0;
}

.file-select-custom {
    display: none;
}

.file-input-custom {
    margin: auto;
    border-radius: 10px !important;
    text-align: center;
    /* padding: 30px; */
    width: 200px;
    height: 230px;
    background-color: #949ba1;
    color: #FFF;
    cursor: pointer;
    display: flex;
}

#upload-file-layout #empty-image {
    width: 100% !important;
    ;
    align-self: center !important;
}


#upload-file-layout svg {
    font-size: 40pt !important;
}

#upload-file-layout img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid #b3b8f3;
}

.img-upload-container {
    position: relative;
}

.btn-remove-img {
    margin: auto;
    font-size: 10pt !important;

}

.btn-remove-img svg {
    font-size: 10pt !important;
}

.btn-inline{
    display: inline-flex;
}

.btn-inline button:not(:first-child){
    margin-left: 1rem;
}

